<div>
  <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)">
    <div class="Row">
      <div class="Column">
        <input
          id="itemid"
          type="text"
          value="21055"
          name="itemid"
          class="InputField"
          ngModel
        />
      </div>
      <div class="ColumnFind">
        <button class="button" type="submit">find</button>
      </div>
    </div>
    <div class="Row">
      <div class="Column">
        Type:
        <select
  name="itemtype"
  id="itemtype"
  class="form-control select"
  #t
[(ngModel)]="itemtype"

  >
  <option *ngFor="let aType of TypeList" value="{{aType}}"
    >{{aType}}</option
  >
</select>
      </div>
      <div class="Column">Force load: <input type="checkbox" id="forceload" name="forceload" [(ngModel)]="forceload"
         > </div>
    </div>
  </form>
  <BR>
</div>
<div>
  <div><span>Set:</span> {{ prices.itemId }}</div>
  <div>
    <span>Preise akt:</span> {{ prices.min }} / {{ prices.avg }} / {{ prices.max
    }}
  </div>
  <div>
    <span>Preise 6 Mon:</span> {{ prices.min6 }} / {{ prices.avg6 }} / {{
    prices.max6 }}
  </div>
  <div>
    <span>Anbieter / Sets:</span> {{ prices.countItems }} / {{ prices.countTotal
    }}
  </div>
  <div>
    <span>6 Mon Trades / Sets:</span> {{ prices.countItems6 }} / {{ prices.countTotal6
    }}
  </div>
</div>


<div>
  <pre>{{ userForm.value | json }}</pre>
  <pre>{{ prices | json }}</pre>
  <pre>{{ errorMessage | json }}</pre>
</div>